html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-transition: all 2s ease-in-out !important;
    transition: all 2s ease-in-out !important;
    overflow: hidden;
    font-family: 'Raleway', sans-serif !important;
}
.choices {
    width: 50vw;
    height: 50vh;
    float: left;
}
.choices h1 {
    color: #333;
    font-size: 2em;
}
h1 {
    font-size: 2em;
}
#choice_container {
    height: 100%;
    padding: 0;
    margin: 0;
}
#choice_1 {
    background-color: rgba(232, 154, 153, 1);
}
#choice_1:hover {
    background-color: rgba(232, 154, 153, 0.9);
    cursor: pointer;
}
#choice_1 h1 {
    margin-top: 20vh;
    margin-left: 10vw;
    z-index: 10;
}
#choice_2 {
    background-color: rgba(178, 185, 255, 1);
}
#choice_2:hover {
    background-color: rgba(178, 185, 255, 0.9);
    cursor: pointer;
}
#choice_2 h1 {
    margin-top: 20vh;
    margin-left: 20vw;
    z-index: 10;
}
#choice_3 {
    background-color: rgba(169, 232, 150, 1);
}
#choice_3:hover {
    background-color: rgba(169, 232, 150, 0.9);
    cursor: pointer;
}
#choice_3 h1 {
    margin-top: 20vh;
    margin-left: 10vw;
    z-index: 10;
}
#choice_4 {
    background-color: rgba(255, 246, 186, 1);
}
#choice_4:hover {
    background-color: rgba(255, 246, 186, 0.9);
    cursor: pointer;
}
#choice_4 h1 {
    margin-top: 20vh;
    margin-left: 20vw;
    z-index: 10;
}
#question_container {
    background-color: white;
    height: 35vh;
    width: 35vw;
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
#question_text {
    top: 30%;
    left: 15%;
    transform: translate(-10%, -30%);
    position: absolute;
    font-size: 22.5px;
}
#question_choice {
    display: none;
}
#question_text_mobile {
    color: #333;
}
.preloader {
    background: #EAB299;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}
.logo-container,
.loader-container {
    position: absolute;
    bottom: -1000px;
    left: 40%;
}
.logo-container {
    width: 20%;
    margin: 0 auto;
}
.logo-container img {
    width: 100%;
}
@media(max-width: 400px) {
    .logo-container {
        width: 70%;
        left: 15%;
    }
}
.loader-container {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px double #fff;
    border-radius: 10%;
}
.loader-inner {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    -webkit-animation: loader-inner 8s infinite ease-in;
    -moz-animation: loader-inner 8s infinite ease-in;
    animation: loader-inner 8s infinite ease-in;
}
@-webkit-keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 100%;
    }
}
@-moz-keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 100%;
    }
}
@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 100%;
    }
}
#map {
    height: 100vh;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
#game_container {
    display: none;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
#play_game {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 70vh;
    margin-left: 80vw;
    border: 2px solid #E89A99;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 25px;
    color: #E89A99;
    font-weight: bold;
    font-size: 25px;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
#play_game:hover {
    background-color: #E89A99;
    border-color: white;
    color: white;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
    cursor: pointer;
}
#results {
    display: none;
}
#map_results {
    height: 100vh;
    width: 100vw;
}
#results_mounted {
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    background-color: white;
    border-top: 5px solid #E89A99;
}
.secondary {
    position: relative !important;
}
#corrected {
    padding-left: 5%;
}
#new_game, #trippyLink {
    position: absolute;
    bottom: 0;
    border: none;
    width: 50vw;
    height: 10vh;
    color: #E89A99;
    background-color: white;
    border-top: 5px solid #E89A99;
    border-right: 2.5px solid #E89A99;
    font-size: 21px;
}
#new_game:hover, #trippyLink:hover {
	background-color: #E89A99;
	color: white;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
#trippyLink {
	border-right: none;
	border-left: 2.5px solid #E89A99;
	right: 0;
}
@media (max-width: 769px) {
    .choices {
        width: 100vw;
        height: 15vh;
    }
    .choices h1 {
    	font-size: 1.5em;
    }
    h1 {
    	font-size: 1.5em;
    }
    #question_container {
        display: none;
    }
    #question_choice {
        display: inline-block;
        height: 40vh;
        background-color: #fff;
    }
    #question_text_mobile {
        font-size: 20px;
        line-height: 125%;
        margin-right: 4%;
    }
    .choices h1 {
        color: #333;
        margin-left: 4%;
        margin-top: 4%;
    }
    #choice_1 h1,
    #choice_2 h1,
    #choice_3 h1,
    #choice_4 h1 {
        margin-top: 2%;
        margin-left: 5%;
    }
    #play_game {
        margin-left: 5%;
    }
}